:root {
  --primary: #F1DEDE;
  --secondary: #D496A7;
  --tertiary: #5D576B;
  --quaternary: #6CD4FF;
  --quinary: #FE938C;
  --senary: #AE4762;
}

* {
  background-color: var(--secondary);
  color: var(--primary);
}
body {
  font-size: 120%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

button, input {
  font-size: 100%;
  font-family: Arial;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.banner {
  background-color: var(--senary);
  font-size: 30px;
  margin-top: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.error {
  color:var(--senary);
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  margin: 15px;
  font-size: 135%;
  text-decoration: none;
  font-style: italic;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}